/* General styles */

body a {
  color: #707070;
}

body a:hover {
  color: #20d8ff;
  text-decoration: none;
}

body a:focus {
  color: #000;
  text-decoration: none;
}

.add20 {
  width: 100%;
  height: 20px;
}

.add30 {
  width: 100%;
  height: 30px;
}

.add40 {
  width: 100%;
  height: 40px;
}

.add50 {
  width: 100%;
  height: 50px;
}

.right {
  float: right;
}

.left {
  float: left;
}

div.no-padding {
  padding: 0;
}

.center-heading {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0 30px 0;
}

.center-line {
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}

/* Slideup animation */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 25%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

/* Company logo */
#company-logo {
  text-align: center;
  height: 175px;
}

#company-logo img {
  margin-top: 20px;
}

/* Company info */
#company-info {
  display: none;
}

/* social icons */
.social-icons li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Navigation */
.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 2;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav.navbar-nav {
  float: none;
}

@media (max-width: 768px) {
  .nav.navbar-nav {
    display: block;
  }
}

#main .nav li a {
  color: #333;
  font-weight: 700;
  font-size: 14px;
  transition:all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
}

#main .nav li a:hover {
  color: #777;
}

#main.navbar {
  margin-bottom: 0px;
}

.nav li.logo a {
  padding-top: 0px;
  padding-bottom: 0px;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 1.0s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width: 500px;
}

/* Main carousel slider */
#main-carousel .carousel-indicators {
  z-index: 1;
}

/* Homepage jumbotron */
.homepage.jumbotron {
  margin-bottom: 0px;
}

/* Strip banner */
.strip-banner {
  width: 100%;
  padding: 25px 0 30px;
  background-color: #333;
}

.strip-banner h1, .strip-banner p {
  color: #fff;
  margin-top: 0;
}

.strip-banner-btn {
  margin-top: 40px;
  text-align: center;
}

/* Button styles */
/* Border button */
.border-btn {
  border: 3px solid #fff;
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.border-btn:hover {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Gray button */
.dark-gray-btn.btn {
  background-color: #333;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 14px 28px 13px 28px;
}

.dark-gray-btn.btn:hover {
  background-color: #777;
  color: #fff;
}

.dark-gray-btn.btn:focus {
  color: #fff;
}

/* Recent projects */
#recent-projects a {
  position: relative;
}

#recent-projects img {
  width: 100%;
}

.prod-item {
  overflow: hidden;
  display: inline-block;
}

.caption-overlay .caption:hover .cbp-caption-defaultWrap {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.caption-overlay .cbp-caption-defaultWrap, .caption-overlay .caption-active-container {
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
}

.caption-overlay .caption:hover .caption-active-container {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.caption-active .caption-active-container {
  width: 100%;
  position: absolute;
}

.caption-center {
  display: table;
  width: 100%;
  height: 100%;
}

.caption-center .caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.caption-active-container {
  background-color: #282727;
  height: 100%;
}

.caption-title {
  color: #fff;
  font-size: 16px;
}

.caption-desc {
  color: #777;
  font-size: 12px;
}

/* Portfolio grid styles */
.grid {
	max-width: 69em;
	list-style: none;
	margin: 0px auto 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px 7px 0 7px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* about us section */
.about-us {
  padding-bottom: 48px;
  background-color: #eee;
}

/* info section */
#info.container {
  width: 100%;
  background-color: #f5f5f5;
}

.info-image img {
  width: 100%;
}

.no-padding.img-2 {
  background: url(http://placehold.it/950x540) scroll center no-repeat;
  background-size: cover;
  position: relative;
  height: 540px;
}

.info-content {
  padding: 30px 60px 0 60px;
}

.info-container {
  margin: 30px 0 30px 0;
}

.icon-container {
  background: transparent;
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  line-height: 35px;
  margin-right: 30px;
  position: relative;
  text-align: center;
  top: 0px;
}

.icon-container i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #20d8ff;
  color: #fff;
  font-size: 17px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 25%;
}

@media (max-width: 768px) {
  .about-content {
    padding: 5px;
  }
  .icon-container {
    margin-right: 10px;
  }
  .icon-container i {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

#thumb-grid {
  margin-bottom: 30px;
  text-align: center;
}

#thumb-grid img {
  width: 100%;
}

.thumb-item {
  overflow: hidden;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.cbp-wrapper-outer, .cbp-wrapper, .cbp-wrapper-helper {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cbp-caption-overlayBottomAlong .cbp-caption:hover .cbp-caption-defaultWrap {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.cbp-caption-overlayBottomAlong .cbp-caption-defaultWrap, .cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
}

.cbp-caption-overlayBottomAlong .cbp-caption:hover .cbp-caption-activeWrap {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.cbp-caption-active .cbp-caption-activeWrap {
  width: 90%;
  position: absolute;
}

.cbp-l-caption-alignCenter {
  display: table;
  width: 100%;
  height: 100%;
}

.cbp-l-caption-alignCenter .cbp-l-caption-body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cbp-caption-activeWrap {
  background-color: #282727;
  height: 60px;
}

/* footer */
#footer-wrapper {
  background: #333;
  color: #eee;
  padding: 20px 0;
}

.footer-headline h2 small {
  color: #eee;
  font-weight: 400;
  line-height: 1;
}

/* copyright */
.copyright, .copyright p {
  background: #222;
  border-top: none;
  padding: 10px 0 5px;
  color: #eee;
}


/* Header social */
#company-social .social-icons {
  font-size: 30px;
  text-align: center;
  padding: 0;
}

/* Media queries */
@media (min-width: 300px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #company-info {
    display: block;
    font-size: 35px;
    font-weight: 700;
    margin-top: 55px;
  }

  #company-social .social-icons {
    font-size: 30px;
    text-align: center;
    margin-top: 55px;
  }
}

@media (min-width: 1200px) {

}
